<div class="col-md-8 col-md-offset-2">
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :summary %>
    <%= f.input :description, :as => :text, :input_html => {'rows' => 20} %>
    <%= f.input :dtstart, :label => "Date", as: :date, order: [:month, :day, :year] %>
    <%= f.submit "Add Recipe To Calendar", class: "btn btn-success" %>
  <% end %>
</div>
