<div class="recipe-details">
  <h1><%= @result.name %></h1>
  <%= image_tag @result.thumbnail.chomp('90') + "500" %>
  <br/>
  <span class="time">Total Time: </span><%= @result.total_time %>
  <div>
    <%= link_to "Add to Meal Plan", add_recipe_path(id: @result.id), class: "btn btn-info" %>
  </div>
  <br/>
  <dl class="ingredients">
    <dt>Ingredients:</dt>
    <% @result.ingredients.each do |ingredient| %>
      <dd><%= ingredient %></dd>
    <% end %>
  </dl>
</div>
