<!DOCTYPE html>
<html>
<head>
  <title>Foodsters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @current_user.present? %>
    <%= render 'layouts/user_present' %>
  <% else %>
    <%= render 'layouts/user_not_present' %>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>
<div class="container">
  <%= yield %>

  <!-- <%= render 'layouts/footer' %> -->
</div>
</body>
</html>
